.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #0d1321;
}

/* header section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px 20px;
}

.nav-title {
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.download-resume {
  font-size: 20px;
  font-weight: 600;
  min-height: 100%;
  text-align: center;
  gap: 10;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgba(13, 19, 33, 1);
  border-radius: 8px;
  opacity: 0.8;
}

/* main or banner section */

.banner {
  background-image: url("../assets/Hero-bg.png");
  padding: 26px 221px 44px 221px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 32px;
  padding: 0 30px;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
  padding: 0 40px;
}

.contact-with-me {
  border-radius: 8px;
  background: rgba(13, 19, 33);
  color: rgba(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  padding: 17px 24px;
  margin-top: 32px;
}

/* Why web development */
.why-web-dev {
  width: 1140px;
  margin: 97px 249px 50px 245px;
  padding: 80px 80px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  align-items: center;
}

.why-web-dev-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80 144px;
}

.why-web-dev-title {
  color: rgba(13, 19, 33, 1);
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.why-web-dev-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.why-web-box {
  padding: 48px;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.why-web-content {
  margin: 10px 30px 10px 30px;
}

.why-web-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.why-web-description {
  color: rgba(13, 19, 33, 1);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.btn-learn-more {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 1);
  opacity: 0.7;
  padding: 12px 20px;
  color: rgba(13, 19, 33, 1);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.btn-learn-more {
  cursor: pointer;
}

/* My Inspiration */

.my-inspiration-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24;
  width: 852px;
  margin: auto;
  margin-bottom: 80px;
}

.my-inspiration-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}

.my-inspiration-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

.video-container {
  margin: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 80px;
}
/* My Current Target */

.current-content-conatiner {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.current-content-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.current-content-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 24px;
  opacity: 0.7;
}

.current-skill {
  width: 364px;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 111px;
}

.html-bg {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.css-bg {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}

.js-bg {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* My Next Target Section */
.my-next-target {
  width: 1140px;
  margin: auto;
  margin-bottom: 100px;
}

.next-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 40px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.next-skill .logo {
  width: 100px;
  height: auto;
}

.next-content-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.next-content-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 16px;
  max-width: 800px;
}

.learn-more2 {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: #0d1321;
}
.learn-more2:hover {
  cursor: pointer;
  opacity: 0.8;
}

.react-bg {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.node-bg {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.mongo-bg {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}

/* footer support section */

.support {
  margin: auto;
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/handshake.jpg");
  background-position: center;
  width: 1140px;
  height: 320px;
  border-radius: 16px;
  padding: 70px 48px;
  text-align: center;
  margin: 50px 50 px;
}

.support-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255);
}

.support-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255);
  opacity: 0.7;
  margin-top: 16px;
  padding: 0 219px;
}

#suggest-field {
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 19px 20px 19px 20px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

#submit-btn {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  width: 120px;
  height: 58px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 17px 20px 17px 20px;
  margin-top: 24px;
}

form input[type="submit"] {
  cursor: pointer;
}

/* footer with social contact */

.footer-social-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 20px 280px;
  margin-top: 100px;
}

.footer-description {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%px;
  letter-spacing: 0%;
  text-align: center;
}
